* {
    margin: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

main {
    display: grid;
    border: solid red 1;
}

.slid {
    box-shadow: 0px 0px 10px 0px;
    position: relative;
    margin-top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
}