            .btt-cor {
                list-style: square inside;
                text-align: center;
            }
            
            .tema {
                margin-bottom: 50px;
                font-size: 100px;
                text-shadow: 2px 2px 5px black;
                color: green;
            }
            
            li {
                padding: -8px;
                border-radius: 15px;
            }
            
            .remedio {
                padding: 10px;
                /* border: solid red 1px; */
                text-align: center;
                display: block;
            }
            
            .remedio>img:hover {
                transform: scale(1.2);
                top: -5px;
            }
            
            .remedio>h4:hover {
                transform: scale(1.2);
                color: green;
            }
            
            .remedio>img {
                position: relative;
                width: 50%;
                transition: transform 100ms;
            }
            
            .remedio>p {
                font-size: 20px;
                font-family: 'Times New Roman', Times, serif;
                display: block;
            }
            
            .sobrancelha::before {
                content: url("../img/efeitos/sobrancelha.png");
            }
            
            .academia::before {
                content: url("../img/efeitos/academia.png");
            }
            
            #all-remedio,
            #all-cosmeticos {
                display: grid;
                grid-template-columns: auto auto auto auto;
                grid-template-rows: auto auto auto auto;
                /* grid-template-rows: auto; */
                /* border: solid red 1px; */
                justify-content: center;
                padding: 50px;
                /* grid-gap: 5px; */
            }
            
            .click:hover {
                background-color: rgb(44, 129, 55);
                box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
                color: rgb(255, 255, 255);
            }
            
            .click {
                cursor: pointer;
                border: solid rgb(75, 99, 68) 3px;
                border-radius: 10px;
                padding: 10px;
            }
            
            .click-1:hover {
                cursor: pointer;
                text-shadow: black 1px 1px 2px;
            }
            
            ul>div {
                position: relative;
                top: 15px;
            }
            
            .estilo {
                width: 20%;
                text-shadow: black 1px 2px 5px;
            }
            
            #entrada {
                border: solid blue 1px;
                border-radius: 20px;
                box-shadow: 0px 0px 6px 0px green;
                height: 20px;
                padding: 20px;
                font-size: 30px;
                position: relative;
                top: 10px;
                text-align: center;
                left: 50%;
            }
            
            #entrada::placeholder {
                text-align: center;
            }
            
            .geral {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                position: relative;
                font-size: 20px;
                grid-gap: 10px;
            }
            
            .slide {
                max-width: 60%;
                max-height: 80%;
                width: auto;
                height: auto;
                box-shadow: 0px 0px 15px 0px black;
            }
            
            .meio {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            
            .carousel>img {
                max-height: 200px;
                width: auto;
                height: auto;
            }
            
            .geral>p {
                border-radius: 20px;
                border: 5px solid #3c7c52;
                width: 200px;
            }
            
            .geral>p:hover {
                background: #3c7e53;
                box-shadow: 0px 0px 10px 0px #3c7c52;
                cursor: pointer;
                color: #ffffff;
            }
            
            .icones {
                border: solid red 1px;
            }
            
            a {
                text-decoration: none !important;
                color: black;
            }
            /* massa voxx */
            
            .voxx-marca {
                display: none;
            }
            
            .medicamento-generico {
                font-size: 20px;
            }
            
            .inform {
                position: relative;
                justify-content: space-between;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: auto auto auto auto;
            }
            
            .inform>div {
                box-shadow: 0px 0px 5px 0px;
                border-radius: 10px;
                font-size: 18px;
            }
            
            .alinhamento {
                position: relative;
                left: -40%;
            }
            
            #all-remedio>div {
                display: block;
            }
            
            #all-cosmeticos>div {
                display: block;
            }