* {
    margin: 0;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}

#barra-inicial {
    background: rgb(55, 184, 55);
}

#logo {
    position: relative;
    width: 80px;
    height: 50px;
    border-radius: 10px;
}

#main {
    margin-left: 300px;
}

#mySidebar {
    top: 50px;
}


/* base do  */