@media only screen and (max-width:500px) {
    #all-remedio {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        /* grid-template-rows: auto; */
        /* border: solid red 1px; */
        justify-content: center;
        grid-gap: 20px;
    }
    #entrada {
        width: 100%;
    }
    .slide {
        max-width: 100%;
        max-height: 80%;
        width: auto;
        height: auto;
        box-shadow: 0px 0px 15px 0px black;
    }
    .geral>p {
        width: 100%;
    }
}